<section class="frame-section">
    <div id="frames" class="frames">
        <!--<div class="frame frame_active">
            <canvas class="frame__canvas"></canvas>
            <div class="frame__button frame__button_delete"></div>
            <div class="frame__button frame__button_move"></div>
            <div class="frame__button frame__button_duplicate"></div>
        </div>-->
    </div>
    <div id="add-frame-button" class="frame-section__add" data-tool="add-frame-button">
        <p class="frame-section__add_info">Add frame <span class="frame-section__add_info_key">(D)</span></p>
        <p>+</p>
        <p>Add new frame</p>
    </div>      
</section>