<div class="resize">
    <button id="resize-open" class="resize__open">resize</button>
    <div id="resize__window" class="resize__window">
        <p class="resize__window_title">Choose canvas size</p>
        <div id="canvas-sizes" class="sizes">
            <div id="canvas-size-32" class="sizes__item">32 x 32</div>
            <div id="canvas-size-64" class="sizes__item">64 x 64</div>
            <div id="canvas-size-128" class="sizes__item">128 x 128</div>
        </div>
        <div class="buttons">
            <button id="resize-button" class="buttons__resize-button">Resize</button>
            <button id="exit-button" class="buttons__exit">X</button>
        </div>
    </div>
</div>