<div class="export">
    <button id="export-open" class="export__open">export</button>
    <div id="export__window" class="export__window">
        <p class="export__window_title">Export GIF</p>
        <div class="scale">
            <label class="scale__label" for="scale-input">Scale</label>
            <input id="scale-input" type="range" class="scale__input" name="scale-input" min="1" max="10" step="1" value="1">
            <span id="scale-value" class="scale__value">1.0x</span>
            <p class="scale__resolution">Resolution <span id="resolution" class="scale__resolution_size">32 x 32</span></p>
        </div>
        <div class="buttons">
            <button id="export-button" class="buttons__export-button">Export</button>
            <button id="exit-export" class="buttons__exit">X</button>
        </div>
    </div>
</div>