<div id="tools" class="tools">
    <div id="pencil" class="tool" data-tool="pencil">
        <p class="tool__info">Pen tool <span class="tool__info_key">(P)</span></p>
    </div>
    <div id="pipette" class="tool" data-tool="pipette">
        <p class="tool__info">Color picker <span class="tool__info_key">(O)</span></p>
    </div>
    <div id="bucket" class="tool" data-tool="bucket">
        <p class="tool__info">Paint bucket tool <span class="tool__info_key">(B)</span></p>
    </div>
    <div id="paint-all" class="tool" data-tool="paint-all">
        <p class="tool__info">Paint all pixels of<br> the same color <span class="tool__info_key">(A)</span></p>
    </div>
    <div id="eraser" class="tool" data-tool="eraser">
        <p class="tool__info">Eraser tool <span class="tool__info_key">(E)</span></p>
    </div>
    <div id="stroke" class="tool" data-tool="stroke">
        <p class="tool__info">Stroke tool <span class="tool__info_key">(L)</span></p>
    </div>
</div>