<div id="animated-preview" class="animated-preview">
    <div id="animated-preview-player" class="animated-preview__player"></div>
    <div id="fullscreen" class="animated-preview__fullscreen" data-tool="fullscreen">
        <p class="animated-preview__fullscreen_info">Full size preview <span class="animated-preview__fullscreen_info_key">(F)</span></p>
    </div>
    <div class="animated-preview__speed">
        <p id = "speed-value-label" class="animated-preview__speed_value">12 FPS</p>
        <input id="speed-input-range" class="animated-preview__speed_range" type="range" min="0" max="24">
    </div>
</div>
