<div class="palette">
    <div class="color color__main">
        <input id="main-color-input" type="color" class="color__input">
        <label id="main-color-label" for="main-color-input" class="color__label"></label>
        <p class="color__info">Primary color</p>
    </div>
    <div class="color color__additional">
        <input id="additional-color-input" type="color" class="color__input">
        <label id="additional-color-label" for="additional-color-input" class="color__label"></label>
        <p class="color__info">Secondary color</p>
    </div>
    <div class="swap" data-tool="palette-swap">
        <p class="swap__info">Swap colors <span class="swap__info_key">(X)</span></p>
        <div id="palette-swap" class="swap__item"></div>
    </div>

</div>