<div id="keyboard-shortcuts" class="keyboard-shortcuts">
    <p class="keyboard-shortcuts__info">Keyboard shortcuts</p>
</div>
<div id="modal-window" class="modal-window">
    <div class="modal-window__header">
        <h3 class="modal-window__header_title">Keyboard shortcuts</h3>
        <button id="modal-window-exit" class="modal-window__header_exit">X</button>
    </div>
    <div class="modal-window__cheatsheet">
        <ul id="shortcuts" class="shortcuts">
            <li class="shortcuts__item" data-tool="pencil">
                <div class="shortcuts__item_icon" data-tool="pencil"></div>
                <p class="shortcuts__item_name">Pen tool</p>
                <p class="shortcuts__item_key">P</p>
                <input class="shortcuts__item_input" type="text" placeholder="Enter new key" maxlength="1">
                <button class="shortcuts__item_button">Change</button>
                <p class="shortcuts__item_error"></p>
            </li>
            <li class="shortcuts__item" data-tool="pipette">
                <div class="shortcuts__item_icon" data-tool="pipette"></div>
                <p class="shortcuts__item_name">Color picker</p>
                <p class="shortcuts__item_key">O</p>
                <input class="shortcuts__item_input" type="text" placeholder="Enter new key" maxlength="1">
                <button class="shortcuts__item_button">Change</button>
                <p class="shortcuts__item_error"></p>
            </li>
            <li class="shortcuts__item" data-tool="bucket">
                <div class="shortcuts__item_icon" data-tool="bucket"></div>
                <p class="shortcuts__item_name">Paint bucket tool</p>
                <p class="shortcuts__item_key">B</p>
                <input class="shortcuts__item_input" type="text" placeholder="Enter new key" maxlength="1">
                <button class="shortcuts__item_button">Change</button>
                <p class="shortcuts__item_error"></p>
            </li>
            <li class="shortcuts__item" data-tool="paint-all">
                <div class="shortcuts__item_icon" data-tool="paint-all"></div>
                <p class="shortcuts__item_name">Magic bucket tool</p>
                <p class="shortcuts__item_key">A</p>
                <input class="shortcuts__item_input" type="text" placeholder="Enter new key" maxlength="1">
                <button class="shortcuts__item_button">Change</button>
                <p class="shortcuts__item_error"></p>
            </li>
            <li class="shortcuts__item" data-tool="eraser">
                <div class="shortcuts__item_icon" data-tool="eraser"></div>
                <p class="shortcuts__item_name">Eraser tool</p>
                <p class="shortcuts__item_key">E</p>
                <input class="shortcuts__item_input" type="text" placeholder="Enter new key" maxlength="1">
                <button class="shortcuts__item_button">Change</button>
                <p class="shortcuts__item_error"></p>
            </li>
            <li class="shortcuts__item" data-tool="stroke">
                <div class="shortcuts__item_icon" data-tool="stroke"></div>
                <p class="shortcuts__item_name">Stroke tool</p>
                <p class="shortcuts__item_key">L</p>
                <input class="shortcuts__item_input" type="text" placeholder="Enter new key" maxlength="1">
                <button class="shortcuts__item_button">Change</button>
                <p class="shortcuts__item_error"></p>
            </li>
            <li class="shortcuts__item" data-tool="fullscreen">
                <div class="shortcuts__item_icon" data-tool="fullscreen"></div>
                <p class="shortcuts__item_name">Full size preview</p>
                <p class="shortcuts__item_key">F</p>
                <input class="shortcuts__item_input" type="text" placeholder="Enter new key" maxlength="1">
                <button class="shortcuts__item_button">Change</button>
                <p class="shortcuts__item_error"></p>
            </li>
            <li class="shortcuts__item" data-tool="palette-swap">
                <div class="shortcuts__item_icon" data-tool="palette-swap"></div>
                <p class="shortcuts__item_name">Swap colors</p>
                <p class="shortcuts__item_key">X</p>
                <input class="shortcuts__item_input" type="text" placeholder="Enter new key" maxlength="1">
                <button class="shortcuts__item_button">Change</button>
                <p class="shortcuts__item_error"></p>
            </li>
            <li class="shortcuts__item" data-tool="add-frame-button">
                <div class="shortcuts__item_icon" data-tool="add-frame-button">+</div>
                <p class="shortcuts__item_name">Add new frame</p>
                <p class="shortcuts__item_key">D</p>
                <input class="shortcuts__item_input" type="text" placeholder="Enter new key" maxlength="1">
                <button class="shortcuts__item_button">Change</button>
                <p class="shortcuts__item_error"></p>
            </li>
        </ul>
    </div>
</div>

