.canvas-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    background-color: rgb(180, 180, 180);

    .canvas {
        width: 512px;
        height: 512px;
        image-rendering: pixelated;
        background-color: rgb(151, 151, 151);
        background-image: linear-gradient( 41deg, rgb(133, 133, 133) 25%, transparent 25%, transparent 74%, rgb(133, 133, 133) 75%, rgb(133, 133, 133)), 
                          linear-gradient( 41deg, rgb(133, 133, 133) 25%, transparent 25%, transparent 73%, rgb(133, 133, 133) 75%, rgb(133, 133, 133));
        background-size: 16px 16px;
        background-position: 0 0, 8px 8px;
        cursor: crosshair;
    }
}